*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: black;
}
a{
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: rgb(223, 229, 234);
    padding: 10px 30px;
    transition: 0.55s;

    background-color: rgb(238, 233, 233);
    text-transform: uppercase;
}
a:hover{
    color:aqua;
    letter-spacing: 0.25rem;
    box-shadow: 0 0 10px aqua;

}
a span{
    position: absolute;
    display: block;
    background: aqua;
}
a span:nth-child(1){
    position: absolute;
    width: 50%;
    height: 2px;
    background-color: aqua;
    top: 0;
    left: 0;
    transform-origin:left ;
    transform: scaleX(0);
    transition: transform 0.5s;
}
a:hover span:nth-child(1)
{
    transform: scaleX(1);
    transform-origin: right;
    
}

a span:nth-child(2){
    position: absolute;
    width: 50%;
    height: 2px;
    background-color: aqua;
    top: 0;
    right: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.5s;
}
a:hover span:nth-child(2)
{
    transform: scaleX(1);
    transform-origin: left;
}

a span:nth-child(3){
    position: absolute;
    
    width: 2px;
    height: 100%;
    background-color: aqua;
    transform-origin: bottom;
    top: 0;
    left: 0;
    transform: scaleY(0);
    transition: transform 0.5s;
    transition-delay:.4s ;
}
a:hover span:nth-child(3)
{
    transform: scaleY(1);
    transform-origin: top;
}

a span:nth-child(4){
    position: absolute;
    width: 2px;
    height: 100%;
    background-color: aqua;
    transform-origin: bottom;
    top: 0;
    right: 0;
    transform: scaleY(0);
    transition: transform 0.5s;
    transition-delay:.4s ;
}
a:hover span:nth-child(4)
{
    transform: scaleY(1);
    transform-origin: top;
}

a span:nth-child(5){
    position: absolute;
    width: 50%;
    height: 2px;
    background-color: aqua;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.5s;
    transition-delay: 0.8s;
}
a:hover span:nth-child(5)
{
    transform: scaleX(1);
    transform-origin: left;
}
a span:nth-child(6){
    
    position: absolute;
    width: 50%;
    height: 2px;
    background-color: aqua;
    bottom: 0;
    right: 0;
    transform-origin: left;
    transform: scaleX(0);
    transition: transform 0.5s;
    transition-delay: 0.8s;
}
a:hover span:nth-child(6)
{
    transform: scaleX(1);
    transform-origin: right;
}
