*{
    margin: 0;
    padding: 0;

}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: black;
}
a{
position: relative;
display: inline-block;
font-size: 1.5em;
color: aqua;
text-decoration: none;
text-transform: uppercase;
border: 2px solid aqua;
padding: 10px 30px;
z-index: 1;
transition: 1s;
overflow: hidden;

}
a:hover{
    color: white;
    box-shadow: 0 0 10px aqua,
    0 0 20px aqua,
    0 0 40px aqua,
    0 0 60px aqua,
    0 0 16px aqua;
}

a::before{
    content: "";
    position: absolute;
    top: 0;
    left: -50px;
    width: 0;
    height: 100%;
    transform: skewX(35deg);
    background-color: aqua;
    z-index: -1;
    transition: 1s;
}

a:hover:before{
    width: 100%;
}